/* src/index.css */

body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}
